<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.mjoys.advert.biz.dao.impl.CreativeSeriesDaoImpl">

    <resultMap id="CreativeSeriesMap" type="com.mjoys.advert.biz.dto.CreativeSeriesDto">
        <result column="id" property="id"/>
        <result column="NAME" property="name"/>
        <result column="CATEGORY" property="gategory"/>
        <result column="STATUS" property="status"/>
        <result column="FIT_FLOWTYPE" property="fitFlowType"/>
        <result column="FIT_PLATFORM" property="fitPlatform"/>
        <result column="TYPE" property="type"/>
        <result column="IS_FILTER_GOODS_STANDARD" property="isFilterGoodsStandaro"/>
    </resultMap>

    <!-- 根据创意审核ID列表批量查询审核信息 -->
    <select id="selectIdsByType" parameterType="java.util.Map"
            resultType="java.lang.Long">
        SELECT id
        FROM mgr.t_creative_series
        where id IN
        <foreach item="item" index="index" collection="ids"
                 open="(" separator="," close=")">
            #{item}
        </foreach>
        <if test="type != null">
            and TYPE=#{type}
        </if>
    </select>

</mapper>
